@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "Satoshi-Light";
  src: url("../../fonts/Satoshi-Light.woff2") format("woff2"), url("../../fonts/Satoshi-Light.woff") format("woff"), url("../../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("../../fonts/Satoshi-LightItalic.woff2") format("woff2"), url("../../fonts/Satoshi-LightItalic.woff") format("woff"), url("../../fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url("../../fonts/Satoshi-Regular.woff2") format("woff2"), url("../../fonts/Satoshi-Regular.woff") format("woff"), url("../../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Italic";
  src: url("../../fonts/Satoshi-Italic.woff2") format("woff2"), url("../../fonts/Satoshi-Italic.woff") format("woff"), url("../../fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("../../fonts/Satoshi-Medium.woff2") format("woff2"), url("../../fonts/Satoshi-Medium.woff") format("woff"), url("../../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../../fonts/Satoshi-Bold.woff2") format("woff2"), url("../../fonts/Satoshi-Bold.woff") format("woff"), url("../../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("../../fonts/Satoshi-Black.woff2") format("woff2"), url("../../fonts/Satoshi-Black.woff") format("woff"), url("../../fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
.bg-key {
  background-color: #BC1C1E;
}

.bg-main {
  background-color: #063F85 !important;
}

.text-main {
  color: #063F85 !important;
}

.text-key {
  color: #BC1C1E;
}

.text-white {
  color: #EAEAEA;
}

.text-secondary {
  color: rgb(87, 87, 86);
}

.font-main {
  font-family: "Satoshi-Light", sans-serif;
}

.font-key {
  font-family: "Funnel Display", sans-serif;
}

* {
  font-family: "Satoshi-Light", sans-serif;
  letter-spacing: 2%;
}

.btn-primary, .btn-key, .btn-outline-primary {
  background-color: #063F85 !important;
  border-color: #063F85;
  border-radius: 20px;
  padding: 6px 60px;
  font-family: "Satoshi-Medium";
}

.btn-outline-primary {
  background-color: transparent !important;
  color: #063F85;
}

.btn-key {
  background-color: #BC1C1E !important;
  border-color: #BC1C1E;
  color: #EAEAEA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Satoshi-Bold;
}

.marquee {
  background-color: #063F85;
  color: #EAEAEA;
}

.header {
  height: 90vh;
  border-bottom-left-radius: 70px;
  background: url(../../img/img-bg-header.png) no-repeat top center;
  background-size: cover;
}
.header .menu .brand-logo {
  width: 300px;
}
.header .menu .social-ico {
  width: 20px;
}

/* Slider – separación entre ítems */
.services-slider .slick-slide {
  padding: 0 0.5rem;
}

/* Tarjeta con imagen de fondo y bordes redondeados grandes */
.service-card {
  position: relative;
  height: 488px !important; /* ajustá a tu diseño */
  border-radius: 18px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.service-content {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  padding-left: 20px;
  height: 420px;
}

.service-iso {
  width: 81px;
  opacity: 0.9;
}

.service-title {
  font-family: "Satoshi-Bold";
  font-size: 1.4rem;
  letter-spacing: 0.3px;
  margin: 0 0 0.25rem;
  color: #EAEAEA;
}

.service-desc {
  font-size: 1.2rem;
  line-height: 1.4em;
  margin: 0;
  opacity: 0.95;
  color: #EAEAEA;
}

.one {
  background-image: url(../../img/servicios/diarios.png);
}

.two {
  background-image: url(../../img/servicios/ejecutivos.png);
}

.three {
  background-image: url(../../img/servicios/aeropuerto.png);
}

.four {
  background-image: url(../../img/servicios/eventos.png);
}

.five {
  background-image: url(../../img/servicios/vip.png);
}

.six {
  background-image: url(../../img/servicios/citytour.png);
}

.seven {
  background-image: url(../../img/servicios/distancia.png);
}

/* Dots  */
.services-slider .slick-dots {
  margin-top: 0.5rem;
}

.services-slider .slick-dots li {
  margin: 0 6px;
}

.services-slider .slick-dots li button:before {
  font-size: 10px;
  color: #063F85;
  opacity: 0.35;
}

.services-slider .slick-dots li.slick-active button:before {
  color: #063F85;
  opacity: 1;
}

/* arrows */
.services-slider .slick-arrow {
  z-index: 2;
}

.cta-1 {
  height: 495px;
  background: url(../../img/img-bg-cta-1.png) no-repeat;
  background-position: center top;
  line-height: 1.8em;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
}

.fleet {
  background: url(../../img/logo-gris.png) no-repeat bottom right, url(../../img/iso-mask.svg) no-repeat center;
  background-color: rgba(87, 87, 86, 0.4);
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  height: 600px;
}
.fleet figure img {
  width: 230px;
}
.fleet figure figcaption {
  font-family: "Satoshi-Medium";
}

.clients {
  height: 570px;
  background: url(../../img/img-bg-clients.png) no-repeat;
  background-size: cover;
}

.benefits {
  background-color: #063F85;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
}
.benefits .col-md-7 {
  background-image: url(../../img/iso-mask-benefits.png);
  background-size: cover;
}

/*# sourceMappingURL=main.css.map */
